<ng-container [formGroup]="file">
  <kendo-formfield>
    <kendo-label [for]="fileName" text="Fájl tallózása"></kendo-label>
    <kendo-fileselect
      #fileName
      formControlName="fileName"
      [multiple]="false"
      [restrictions]="fileRestrictions"
    >
      <kendo-fileselect-messages
        select="Tallózás..."
        dropFilesHere="Húzz ide egy fájlt"
        invalidFileExtension="A fájl kiterjesztése nem megfelelő"
      >
      </kendo-fileselect-messages>
    </kendo-fileselect>
    <kendo-formerror>Kötelező mező</kendo-formerror>
  </kendo-formfield>
</ng-container>
