<ng-container [formGroup]="file">
  <kendo-formfield>
    <kendo-label [for]="fileName" text="Fájl tallózása"></kendo-label>
    <kendo-upload
      #fileName
      [autoUpload]="false"
      [multiple]="false"
      [restrictions]="fileRestrictions"
      (select)="select($event)"
      (remove)="remove($event)"
      formControlName="fileName"
    >
    </kendo-upload>
    <kendo-formerror *ngIf="file.controls.fileName.errors?.required"
      >Kötelező mező</kendo-formerror
    >
    <kendo-formerror *ngIf="file.controls.fileName.errors?.invalidExtension"
      >Hibás fájlformátum</kendo-formerror
    >
  </kendo-formfield>
</ng-container>
