<ng-container [formGroup]="file">
  <kendo-formfield>
    <kendo-label
      [for]="fileName"
      [text]="'form.browseFile' | translate"
    ></kendo-label>
    <kendo-upload
      #fileName
      [autoUpload]="false"
      [multiple]="false"
      [restrictions]="fileRestrictions"
      (select)="select($event)"
      (remove)="remove($event)"
      formControlName="fileName"
    >
    </kendo-upload>
    <kendo-formerror *ngIf="file.controls.fileName.errors?.required" translate
      >form.required</kendo-formerror
    >
    <kendo-formerror
      *ngIf="file.controls.fileName.errors?.invalidExtension"
      translate
      >form.wrongFileFormat</kendo-formerror
    >
  </kendo-formfield>
</ng-container>
