.error {
  background-color: #f64e60;
  color: white;
}

table {
  margin: 1rem 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

tr > td:first-child {
  padding-right: 2rem;
}

td {
  vertical-align: top;
}
