<div class="component-header error" translate>headers.error</div>
<table *ngIf="isHttpError">
  <tr>
    <td translate>components.error.errorMessage</td>
    <td>{{ error.message }}</td>
  </tr>
  <tr>
    <td translate>components.error.statusCode</td>
    <td>{{ error.status }}</td>
  </tr>
  <tr>
    <td translate>components.error.statusText</td>
    <td>{{ error.statusText }}</td>
  </tr>
  <tr>
    <td>Url:</td>
    <td>{{ error.url }}</td>
  </tr>
</table>
<table *ngIf="!isHttpError">
  <tr>
    <td translate>components.error.errorMessage</td>
    <td>{{ error.message }}</td>
  </tr>
  <tr>
    <td>Stack:</td>
    <td>{{ error.stack }}</td>
  </tr>
</table>
