<div class="component-header" translate>
  PROVK {{ "form.version" | translate }}
</div>
<div class="x-toolbar">
  <button
    kendoButton
    icon="arrow-60-left"
    class="x-btn-primary click-primary"
    (click)="goBack()"
    translate
  >
    form.back
  </button>
  <toolbar-text
    [caption]="'columns.company' | translate"
    [value]="company"
  ></toolbar-text>
  <toolbar-text
    [caption]="'columns.plant' | translate"
    [value]="plant"
  ></toolbar-text>
  <toolbar-text
    [caption]="'columns.year' | translate"
    [value]="year"
  ></toolbar-text>
  <toolbar-text
    [caption]="'columns.month' | translate"
    [value]="month"
  ></toolbar-text>
  <toolbar-text
    [caption]="'form.version' | translate"
    [value]="version"
  ></toolbar-text>
</div>
<div class="container">
  <kendo-panelbar
    [items]="items"
    class="panelbar"
    (stateChange)="onPanelChange($event)"
  ></kendo-panelbar>
  <div class="grid-container">
    <captype-grid
      [provkDetails]="provkDetails"
      [selectedCapTypeId]="selectedCapTypeId"
      (switchEditMode)="inEditMode($event)"
      *ngIf="!salesProductsVisible && items.length"
    ></captype-grid>
    <salesdetails
      [salesDetails]="salesDetails"
      [selectedCapTypeId]="selectedCapTypeId"
      (switchEditMode)="inEditMode($event)"
      *ngIf="salesProductsVisible"
    ></salesdetails>
    <loading-overlay
      [visible]="loadingOverlayVisibleGrid"
      loadingText=""
    ></loading-overlay>
  </div>
</div>
<div
  class="x-dialog-container"
  confirmdialog-style
  [isMsgDialog]="isMsgDialog"
  [dialogType]="dialogType"
>
  <div kendoDialogContainer></div>
</div>
<loading-overlay
  [visible]="loadingOverlayVisible"
  loadingText=""
></loading-overlay>
