<kendo-dialog *ngIf="active" [width]="700" [height]="550" (close)="closeForm()">
  <kendo-dialog-titlebar class="x-bg-primary x-font">
    {{
      isNew
        ? ("form.newF" | translate) +
          " " +
          ("form.planningPosition" | translate)
        : ("form.edit" | translate)
    }}
  </kendo-dialog-titlebar>
  <form class="k-form" [formGroup]="form" (ngSubmit)="onSave()">
    <kendo-formfield>
      <kendo-textbox hidden formControlName="id"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="costAccTypeId"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="costAccountId"
        value="form.controls.costAccount.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="costGroupId"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="currencyId"
        value="form.controls.currency.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <div class="container">
      <kendo-formfield>
        <kendo-label
          [for]="costAccount"
          [text]="'columns.accountNumber' | translate"
        ></kendo-label>
        <kendo-multicolumncombobox
          #costAccount
          formControlName="costAccount"
          [data]="costAccounts"
          textField="accountNumber"
          valueField="id"
          [kendoDropDownFilter]="{
            operator: 'contains',
            fields: ['accountNumber', 'name']
          }"
          (valueChange)="costAccountChange($event)"
          class="x-combobox-sm"
        >
          <kendo-combobox-column
            field="accountNumber"
            [title]="'columns.accountNumber' | translate"
            [width]="100"
          >
          </kendo-combobox-column>
          <kendo-combobox-column
            field="name"
            [title]="'columns.name' | translate"
            [width]="200"
          >
          </kendo-combobox-column>
        </kendo-multicolumncombobox>
        <kendo-formerror translate>form.required</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label
          [for]="costGroupName"
          [text]="'columns.costGroup' | translate"
        ></kendo-label>
        <kendo-textbox
          #costGroupName
          formControlName="costGroupNameDisabled"
          class="x-textbox-sm"
        ></kendo-textbox>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label
          [for]="itemName"
          [text]="'form.planningPosition' | translate"
        ></kendo-label>
        <kendo-textbox
          #itemName
          formControlName="itemName"
          class="x-textbox-sm"
        ></kendo-textbox>
        <kendo-formerror translate>form.required</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label
          [for]="amountInCurrency"
          [text]="'form.amountInCurrency' | translate"
        ></kendo-label>
        <kendo-numerictextbox
          #amountInCurrency
          formControlName="amountInCurrency"
          [spinners]="false"
          format="n0"
          class="x-numerictextbox-sm"
        ></kendo-numerictextbox>
        <kendo-formerror translate>form.required</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label
          [for]="currency"
          [text]="'form.currency' | translate"
        ></kendo-label>
        <kendo-combobox
          #currency
          formControlName="currency"
          [data]="currencies"
          textField="isoCode"
          valueField="id"
          [kendoDropDownFilter]="{ operator: 'contains' }"
          (valueChange)="currencyChange($event)"
          class="x-combobox-sm"
        >
        </kendo-combobox>
        <kendo-formerror translate>form.required</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label
          [for]="amount"
          [text]="'form.amount' | translate"
        ></kendo-label>
        <kendo-numerictextbox
          #amount
          formControlName="amount"
          [spinners]="false"
          format="n0"
          (valueChange)="amountChange($event)"
          class="x-numerictextbox-sm"
        ></kendo-numerictextbox>
        <kendo-formerror translate>form.required</kendo-formerror>
      </kendo-formfield>
    </div>
    <kendo-formfield>
      <kendo-label
        [for]="distribution"
        [text]="'form.distribution' | translate"
      ></kendo-label>
      <kendo-switch
        #distribution
        formControlName="distribution"
        [onLabel]="'form.individualDistr' | translate"
        [offLabel]="'form.equalDistr' | translate"
        style="width: 90px"
        (valueChange)="distChange($event)"
      ></kendo-switch>
    </kendo-formfield>
    <div class="container">
      <kendo-formfield *ngFor="let period of periods; index as i">
        <kendo-label [for]="periodAmount" text="{{ i + 1 }}"></kendo-label>
        <kendo-numerictextbox
          #periodAmount
          formControlName="p{{ i + 1 }}"
          [spinners]="false"
          format="n0"
          class="x-numerictextbox-sm"
        ></kendo-numerictextbox>
        <kendo-formerror translate>form.required</kendo-formerror>
      </kendo-formfield>
    </div>
    <kendo-formfield>
      <kendo-label
        [for]="comment"
        [text]="'form.comment' | translate"
      ></kendo-label>
      <kendo-textarea
        #comment
        formControlName="comment"
        style="width: 632px"
        class="x-textarea-sm"
      ></kendo-textarea>
    </kendo-formfield>
    <!-- hidden submit button in order to get work the submit event on enter -->
    <button type="submit" hidden></button>
  </form>
  <kendo-dialog-actions layout="normal">
    <button
      type="button"
      kendoButton
      icon="cancel"
      (click)="onCancel()"
      class="x-btn-light click-light"
      translate
    >
      form.cancel
    </button>
    <button
      type="submit"
      kendoButton
      icon="save"
      class="x-btn-primary click-primary"
      (click)="onSave()"
      translate
    >
      form.save
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
