<kendo-dialog *ngIf="active" [width]="700" [height]="550" (close)="closeForm()">
  <kendo-dialog-titlebar class="x-bg-primary x-font">
    {{ isNew ? "Új tervtétel" : "Szerkesztés" }}
  </kendo-dialog-titlebar>
  <form class="k-form" [formGroup]="form" (ngSubmit)="onSave()">
    <kendo-formfield>
      <kendo-textbox hidden formControlName="id"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="costAccTypeId"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="costAccountId"
        value="form.controls.costAccount.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="costGroupId"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="currencyId"
        value="form.controls.currency.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <div class="container">
      <kendo-formfield>
        <kendo-label [for]="costAccount" text="Főkönyvi szám"></kendo-label>
        <kendo-multicolumncombobox
          #costAccount
          formControlName="costAccount"
          [data]="costAccounts"
          textField="accountNumber"
          valueField="id"
          [kendoDropDownFilter]="{
            operator: 'contains',
            fields: ['accountNumber', 'name']
          }"
          (valueChange)="costAccountChange($event)"
          class="x-combobox-sm"
        >
          <kendo-combobox-column
            field="accountNumber"
            title="Főkönyvi szám"
            [width]="100"
          >
          </kendo-combobox-column>
          <kendo-combobox-column field="name" title="Megnevezés" [width]="200">
          </kendo-combobox-column>
          <ng-template kendoMultiColumnComboBoxNoDataTemplate>
            Nincs megjelenítendő adat
          </ng-template>
        </kendo-multicolumncombobox>
        <kendo-formerror>Kötelező mező</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label [for]="costGroupName" text="Költségcsoport"></kendo-label>
        <kendo-textbox
          #costGroupName
          formControlName="costGroupNameDisabled"
          class="x-textbox-sm"
        ></kendo-textbox>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label [for]="itemName" text="Tervtétel"></kendo-label>
        <kendo-textbox
          #itemName
          formControlName="itemName"
          class="x-textbox-sm"
        ></kendo-textbox>
        <kendo-formerror>Kötelező mező</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label
          [for]="amountInCurrency"
          text="Összeg id. pnem-ben"
        ></kendo-label>
        <kendo-numerictextbox
          #amountInCurrency
          formControlName="amountInCurrency"
          [spinners]="false"
          format="n0"
          class="x-numerictextbox-sm"
        ></kendo-numerictextbox>
        <kendo-formerror>Kötelező mező</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label [for]="currency" text="Pénznem"></kendo-label>
        <kendo-combobox
          #currency
          formControlName="currency"
          [data]="currencies"
          textField="isoCode"
          valueField="id"
          [kendoDropDownFilter]="{ operator: 'contains' }"
          (valueChange)="currencyChange($event)"
          class="x-combobox-sm"
        >
          <ng-template kendoComboBoxNoDataTemplate>
            Nincs megjelenítendő adat
          </ng-template>
        </kendo-combobox>
        <kendo-formerror>Kötelező mező</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-label [for]="amount" text="Összeg váll. pnem-ben"></kendo-label>
        <kendo-numerictextbox
          #amount
          formControlName="amount"
          [spinners]="false"
          format="n0"
          (valueChange)="amountChange($event)"
          class="x-numerictextbox-sm"
        ></kendo-numerictextbox>
        <kendo-formerror>Kötelező mező</kendo-formerror>
      </kendo-formfield>
    </div>
    <kendo-formfield>
      <kendo-label [for]="distribution" text="Elosztás módja"></kendo-label>
      <kendo-switch
        #distribution
        formControlName="distribution"
        onLabel="Egyéni"
        offLabel="Egyenlő"
        style="width: 90px"
        (valueChange)="distChange($event)"
      ></kendo-switch>
    </kendo-formfield>
    <div class="container">
      <kendo-formfield *ngFor="let period of periods; index as i">
        <kendo-label [for]="periodAmount" text="{{ i + 1 }}"></kendo-label>
        <kendo-numerictextbox
          #periodAmount
          formControlName="p{{ i + 1 }}"
          [spinners]="false"
          format="n0"
          class="x-numerictextbox-sm"
        ></kendo-numerictextbox>
        <kendo-formerror>Kötelező mező</kendo-formerror>
      </kendo-formfield>
    </div>
    <kendo-formfield>
      <kendo-label [for]="comment" text="Megjegyzés"></kendo-label>
      <kendo-textarea
        #comment
        formControlName="comment"
        style="width: 632px"
        class="x-textarea-sm"
      ></kendo-textarea>
    </kendo-formfield>
    <!-- hidden submit button in order to get work the submit event on enter -->
    <button type="submit" hidden></button>
  </form>
  <kendo-dialog-actions layout="normal">
    <button
      type="button"
      kendoButton
      icon="cancel"
      (click)="onCancel()"
      class="x-btn-light click-light"
    >
      Mégsem
    </button>
    <button
      type="submit"
      kendoButton
      icon="save"
      class="x-btn-primary click-primary"
      (click)="onSave()"
    >
      Mentés
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
