<kendo-dialog *ngIf="active" [width]="300" [height]="600" (close)="closeForm()">
  <kendo-dialog-titlebar class="x-bg-primary x-font">
    {{
      isNew
        ? ("form.newF" | translate) + " " + ("form.costAllocation" | translate)
        : ("form.edit" | translate)
    }}
  </kendo-dialog-titlebar>
  <form class="k-form" [formGroup]="form" (ngSubmit)="onSave()">
    <kendo-formfield>
      <kendo-textbox hidden formControlName="id"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="companyId"
        value="form.controls.company.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="company"
        [text]="'columns.company' | translate"
      ></kendo-label>
      <kendo-combobox
        #company
        formControlName="company"
        [data]="companies"
        textField="name"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="companyChange($event)"
        class="x-combobox-sm"
      >
      </kendo-combobox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="plantId"
        value="form.controls.plant.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="plant"
        [text]="'columns.plant' | translate"
      ></kendo-label>
      <kendo-combobox
        #plant
        formControlName="plant"
        [data]="filteredPlants"
        textField="code"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="plantChange($event)"
        class="x-combobox-sm"
      >
      </kendo-combobox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="year"
        value="form.controls.yearDate.value?.getFullYear()"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="yearDate"
        [text]="'columns.year' | translate"
      ></kendo-label>
      <kendo-datepicker
        #yearDate
        formControlName="yearDate"
        activeView="decade"
        bottomView="decade"
        format="yyyy"
        [formatPlaceholder]="{
          year: 'columns.year' | translate,
          month: '',
          day: '',
          hour: '',
          minute: '',
          second: ''
        }"
        (valueChange)="yearChange($event)"
        class="x-datepicker-sm"
      >
      </kendo-datepicker>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="allocCostCenterId"
        value="form.controls.allocCostCenter.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="allocCostCenter"
        [text]="'form.baseCostCenter' | translate"
      ></kendo-label>
      <kendo-combobox
        #allocCostCenter
        formControlName="allocCostCenter"
        [data]="filteredAllocCostCenters"
        textField="code"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="allocCostCenterChange($event)"
        class="x-combobox-sm"
      >
      </kendo-combobox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="costAccountId"
        value="form.controls.costAccount.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="costAccount"
        [text]="'form.costAccount' | translate"
      ></kendo-label>
      <kendo-combobox
        #costAccount
        formControlName="costAccount"
        [data]="filteredCostAccounts"
        textField="accountNumber"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="costAccountChange($event)"
        class="x-combobox-sm"
      >
      </kendo-combobox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="name"
        [text]="'columns.name' | translate"
      ></kendo-label>
      <kendo-textbox
        #name
        formControlName="name"
        class="x-textbox-sm"
      ></kendo-textbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="level"
        [text]="'form.level' | translate"
      ></kendo-label>
      <kendo-textbox
        #level
        formControlName="level"
        class="x-textbox-sm"
      ></kendo-textbox>
      <kendo-formerror *ngIf="form.controls.level.errors?.required" translate
        >form.required</kendo-formerror
      >
      <kendo-formerror *ngIf="form.controls.level.errors?.pattern" translate
        >form.onlyNumbers</kendo-formerror
      >
    </kendo-formfield>
    <kendo-formfield>
      <div class="k-checkbox-wrap">
        <input
          type="checkbox"
          #allocCapacity
          formControlName="allocCapacity"
          kendoCheckBox
          (change)="capacityCheckChange($event)"
        />
        <kendo-label
          class="k-checkbox-label"
          [for]="allocCapacity"
          [text]="'form.capacityAlloc' | translate"
        ></kendo-label>
      </div>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="capacityUnit"
        [text]="'form.capacityUnit' | translate"
      ></kendo-label>
      <kendo-textbox
        #capacityUnit
        formControlName="capacityUnit"
        class="x-textbox-sm"
      >
      </kendo-textbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="totalCapacity"
        [text]="'form.totalCapacity' | translate"
      ></kendo-label>
      <kendo-textbox
        #totalCapacity
        formControlName="totalCapacity"
        class="x-textbox-sm"
      >
      </kendo-textbox>
      <kendo-formerror
        *ngIf="form.controls.totalCapacity.errors?.required"
        translate
        >form.required</kendo-formerror
      >
      <kendo-formerror
        *ngIf="form.controls.totalCapacity.errors?.pattern"
        translate
        >form.onlyNumbers</kendo-formerror
      >
    </kendo-formfield>
    <!-- hidden submit button in order to get work the submit event on enter -->
    <button type="submit" hidden></button>
  </form>
  <kendo-dialog-actions>
    <button
      type="button"
      kendoButton
      icon="cancel"
      (click)="onCancel()"
      class="x-btn-light click-light"
      translate
    >
      form.cancel
    </button>
    <button
      type="submit"
      kendoButton
      icon="save"
      class="x-btn-primary click-primary"
      (click)="onSave()"
      translate
    >
      form.save
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
