<div class="component-header" translate>sidebar.capGroups</div>
<div class="grid">
  <kendo-grid
    [kendoGridBinding]="gridData.data"
    [filterable]="true"
    [sortable]="true"
    [style.maxHeight.%]="100"
    (add)="addHandler()"
  >
    <ng-template kendoGridToolbarTemplate>
      <button
        kendoGridAddCommand
        class="x-btn-primary click-primary"
        icon="file"
        translate
      >
        form.new
      </button>
      <kendo-grid-spacer width="1px"></kendo-grid-spacer>
      <button
        kendoButton
        class="x-btn-light-primary x-text-primary click-primary"
        icon="copy"
        (click)="showCopyForm()"
        translate
      >
        form.copy
      </button>
    </ng-template>
    <kendo-grid-column
      [hidden]="true"
      field="id"
      title="ID"
    ></kendo-grid-column>
    <kendo-grid-column
      field="capGroup"
      [title]="'form.capGroup' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="capType.capType"
      [title]="'form.capType' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="capName"
      [title]="'form.capName' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="capUnit.unit"
      [title]="'columns.unit' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="capYear"
      [title]="'columns.year' | translate"
      format="d"
      filter="numeric"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="invNr"
      [title]="'columns.invNr' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="normalCap"
      [title]="'columns.normalCap' | translate"
      filter="numeric"
    ></kendo-grid-column>
    <kendo-grid-column
      field="fixRate"
      [title]="'columns.fixRate' | translate"
      filter="numeric"
    ></kendo-grid-column>
    <kendo-grid-column
      field="plant.code"
      [title]="'columns.plant' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="company.name"
      [title]="'columns.company' | translate"
    ></kendo-grid-column>
    <kendo-grid-command-column [width]="70">
      <ng-template kendoGridCellTemplate let-dataItem>
        <kendo-icon
          class="command-icon"
          themeColor="primary"
          name="edit"
          (click)="editHandler({ dataItem: dataItem })"
        ></kendo-icon>
        <kendo-icon
          class="command-icon"
          themeColor="secondary"
          name="delete"
          (click)="removeHandler({ dataItem: dataItem })"
        ></kendo-icon>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>
<ce-capgroup
  [model]="editDataItem"
  [isNew]="isNew"
  (save)="saveHandler($event)"
  (cancel)="cancelHandler()"
></ce-capgroup>
<copy-entity
  [model]="copyCapGroup"
  (save)="saveHandlerCopyCapGroup($event)"
  (cancel)="cancelHandlerCopyCapGroup()"
></copy-entity>
<div
  class="x-dialog-container"
  confirmdialog-style
  [isMsgDialog]="isMsgDialog"
  [dialogType]="dialogType"
>
  <div kendoDialogContainer></div>
</div>
<loading-overlay
  [visible]="loadingOverlayVisible | async"
  loadingText=""
></loading-overlay>
