<kendo-dialog [width]="370" [height]="410" (close)="closeForm()">
  <kendo-dialog-titlebar class="x-bg-primary x-font">
    About
  </kendo-dialog-titlebar>
  <h2 class="x-font x-text-base section">Atlantis</h2>
  <div class="x-text section" translate>about.descr</div>
  <div class="x-text section" translate>about.created</div>
  <div class="x-text section" translate>about.allRightReserved</div>
  <kendo-dialog-actions layout="normal">
    <button
      type="button"
      kendoButton
      (click)="closeForm()"
      class="x-btn-primary click-primary"
      translate
    >
      form.close
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
