.space-between {
  justify-content: space-between;
}

.td-data {
  font-weight: bold;
  text-align: right;
}

.top-bar {
  height: 5px;
}

.hovered {
  background-color: #00b0ff;
}

.actions-visible {
  visibility: visible;
  background-color: rgba(128, 128, 128, 0.3);
}

.actions-hidden {
  visibility: hidden;
}

.k-card {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.year-month {
  color: #00b0ff;
  font-weight: 700;
}
