<kendo-dialog *ngIf="active" [width]="380" [height]="600" (close)="closeForm()">
  <kendo-dialog-titlebar class="x-bg-primary x-font">
    {{ "user.userProfile" | translate }}
  </kendo-dialog-titlebar>
  <kendo-listview class="lv-header">
    <ng-template kendoListViewHeaderTemplate>
      <div class="header">
        <div>
          <div class="x-font-medium">
            {{ form.controls.firstName.value }}
            {{ form.controls.lastName.value }}
          </div>
          <div>{{ form.controls.userName.value }}</div>
          <div class="date">
            {{ "user.registered" | translate }}
            {{ form.controls.joinDate.value | date: "medium" }}
          </div>
          <div class="date">
            {{ "user.lastLoggedIn" | translate }}
            {{ lastLoginDate ? (lastLoginDate | date: "medium") : "" }}
          </div>
        </div>
        <div
          [ngClass]="form.controls.active.value ? 'active' : 'inactive'"
          class="badge status"
        >
          {{
            form.controls.active.value
              ? ("user.active" | translate)
              : ("user.inactive" | translate)
          }}
        </div>
      </div>
    </ng-template>
  </kendo-listview>
  <form class="k-form" [formGroup]="form" (ngSubmit)="onSave()">
    <kendo-formfield>
      <kendo-textbox hidden formControlName="id"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="firstName"
        [text]="'user.signupForm.firstName' | translate"
      ></kendo-label>
      <kendo-textbox
        #firstName
        formControlName="firstName"
        class="x-textbox-sm"
      >
      </kendo-textbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="lastName"
        [text]="'user.signupForm.lastName' | translate"
      ></kendo-label>
      <kendo-textbox #lastName formControlName="lastName" class="x-textbox-sm">
      </kendo-textbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="userName"
        [text]="'user.userName' | translate"
      ></kendo-label>
      <kendo-textbox #userName formControlName="userName" class="x-textbox-sm">
      </kendo-textbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="email"
        [text]="'user.signupForm.email' | translate"
      ></kendo-label>
      <kendo-textbox #email formControlName="email" class="x-textbox-sm">
      </kendo-textbox>
      <kendo-formerror *ngIf="form.controls.email.errors?.required" translate
        >form.required</kendo-formerror
      >
      <kendo-formerror *ngIf="form.controls.email.errors?.email" translate
        >form.wrongEmailFormat</kendo-formerror
      >
    </kendo-formfield>
    <kendo-formfield>
      <div class="k-checkbox-wrap">
        <input
          type="checkbox"
          #active
          formControlName="isActive"
          kendoCheckBox
        />
        <kendo-label
          class="k-checkbox-label"
          [for]="active"
          [text]="'user.active' | translate"
        ></kendo-label>
      </div>
    </kendo-formfield>
    <kendo-formfield>
      <div class="k-checkbox-wrap">
        <input
          type="checkbox"
          #notLocked
          formControlName="isNotLocked"
          kendoCheckBox
        />
        <kendo-label
          class="k-checkbox-label"
          [for]="notLocked"
          [text]="'user.notLocked' | translate"
        ></kendo-label>
      </div>
    </kendo-formfield>
    <button type="submit" hidden></button>
  </form>
  <div class="actions">
    <button
      type="button"
      kendoButton
      class="x-btn-light-secondary x-text-secondary click-secondary"
      (click)="showAccessRightsForm()"
      translate
    >
      user.rights
    </button>
    <button
      type="button"
      kendoButton
      class="x-btn-light-danger x-text-danger click-danger"
      (click)="showPwdChangeForm()"
      translate
    >
      user.changePwdForm.changePwd
    </button>
  </div>
  <kendo-dialog-actions>
    <button
      type="button"
      kendoButton
      icon="cancel"
      (click)="onCancel()"
      class="x-btn-light click-light"
      translate
    >
      form.cancel
    </button>
    <button
      type="submit"
      kendoButton
      icon="save"
      [primary]="true"
      (click)="onSave()"
      class="x-btn-primary click-primary"
      translate
    >
      form.save
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
<pwd [visible]="changePwdFormVisible" [userName]="userName"></pwd>
<div
  class="x-dialog-container"
  confirmdialog-style
  [isMsgDialog]="isMsgDialog"
  [dialogType]="dialogType"
>
  <div kendoDialogContainer></div>
</div>
