<kendo-appbar
  position="top"
  positionsMode="sticky"
  (click)="appBarClicked($event)"
>
  <kendo-appbar-section>
    <button
      kendoButton
      icon="menu"
      (click)="onDrawerToggleBtnClick()"
      class="appbar-btn"
      #appBarBtn
    ></button>
    <kendo-appbar-spacer width="1rem"></kendo-appbar-spacer>
    <span class="app-title">Atlantis</span>
  </kendo-appbar-section>
  <kendo-appbar-spacer width="2rem"></kendo-appbar-spacer>
  <kendo-appbar-section>
    <kendo-textbox
      placeholder="Keresés..."
      (valueChange)="onSearchBoxValueChange($event)"
      #searchBox
    >
      <ng-template kendoTextBoxPrefixTemplate>
        <kendo-icon name="search"></kendo-icon>
      </ng-template>
    </kendo-textbox>
  </kendo-appbar-section>
  <kendo-appbar-spacer width="2rem"></kendo-appbar-spacer>
  <kendo-appbar-spacer></kendo-appbar-spacer>
  <kendo-appbar-section>
    <div kendoTooltip>
      <button
        *ngIf="adminUser"
        kendoButton
        icon="tell-a-friend"
        (click)="showAdminArea()"
        class="appbar-btn"
        title="Admin felület"
      ></button>
    </div>
    <div kendoTooltip>
      <button
        kendoButton
        icon="home"
        (click)="goToHome()"
        class="appbar-btn"
        title="Kezdőlap"
      ></button>
    </div>
    <div kendoTooltip>
      <button
        kendoButton
        icon="user"
        #popupAnchor
        (click)="togglePopup()"
        class="appbar-btn"
        title="Felhasználó"
      ></button>
    </div>
    <kendo-popup
      [anchor]="$any(popupAnchor)"
      *ngIf="showPopup"
      [animate]="animateSettings"
      [anchorAlign]="anchorAlign"
      [popupAlign]="popupAlign"
      [margin]="margin"
      class="user-popup"
      #popup
    >
      <user-menu></user-menu>
    </kendo-popup>
    <div kendoTooltip>
      <button
        kendoButton
        icon="info"
        class="appbar-btn"
        title="Névjegy"
        (click)="showAboutDialog()"
      ></button>
    </div>
  </kendo-appbar-section>
</kendo-appbar>
<about *ngIf="showAbout" (closeAbout)="closeAboutDialog()"></about>
