.space-between {
  justify-content: space-between;
}

.top-bar {
  height: 5px;
}

.hovered {
  background-color: #00b0ff;
}

.k-card {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.k-card:hover {
  cursor: pointer;
}

.icon-color {
  color: rgba(62, 85, 105, 0.8);
}

.icon-color-hovered {
  color: #00b0ff;
}

.visited-date {
  margin-left: 0.5rem;
}
