<ng-container [formGroup]="entity">
  <kendo-formfield>
    <kendo-textbox
      hidden
      formControlName="companyId"
      value="form.controls.company.value?.id"
    ></kendo-textbox>
  </kendo-formfield>
  <kendo-formfield>
    <kendo-label
      [for]="company"
      [text]="'columns.company' | translate"
    ></kendo-label>
    <kendo-combobox
      #company
      formControlName="company"
      [data]="companies"
      textField="name"
      valueField="id"
      [kendoDropDownFilter]="{ operator: 'contains' }"
      (valueChange)="companyChange($event)"
      class="x-combobox-sm"
    >
    </kendo-combobox>
    <kendo-formerror translate>form.required</kendo-formerror>
  </kendo-formfield>
  <kendo-formfield>
    <kendo-textbox
      hidden
      formControlName="plantId"
      value="form.controls.plant.value?.id"
    ></kendo-textbox>
  </kendo-formfield>
  <kendo-formfield>
    <kendo-label
      [for]="plant"
      [text]="'columns.plant' | translate"
    ></kendo-label>
    <kendo-combobox
      #plant
      formControlName="plant"
      [data]="filteredPlants"
      textField="code"
      valueField="id"
      [kendoDropDownFilter]="{ operator: 'contains' }"
      (valueChange)="plantChange($event)"
      class="x-combobox-sm"
    >
    </kendo-combobox>
    <kendo-formerror translate>form.required</kendo-formerror>
  </kendo-formfield>
  <kendo-formfield>
    <kendo-label
      [for]="month"
      [text]="
        ('columns.year' | translate) + '/' + ('columns.month' | translate)
      "
    ></kendo-label>
    <kendo-datepicker
      #month
      formControlName="month"
      activeView="year"
      bottomView="year"
      format="y"
      [formatPlaceholder]="{
        year: 'columns.year' | translate,
        month: 'columns.month' | translate,
        day: '',
        hour: '',
        minute: '',
        second: ''
      }"
      class="x-datepicker-sm"
    >
    </kendo-datepicker>
    <kendo-formerror translate>form.required</kendo-formerror>
  </kendo-formfield>
</ng-container>
