<div class="card">
  <kendo-card width="320px" class="signup-card">
    <loading-overlay
      [visible]="loadingOverlayVisible | async"
      loadingText=""
    ></loading-overlay>
    <h2>Regisztráció</h2>
    <form [formGroup]="signupForm" (ngSubmit)="submitForm()">
      <kendo-formfield>
        <kendo-textbox
          placeholder="Felhasználónév"
          formControlName="userName"
          [showSuccessIcon]="signupForm.controls.userName.valid"
        >
          <ng-template kendoTextBoxPrefixTemplate>
            <div class="x-input-prefix">
              <kendo-icon name="user"></kendo-icon>
            </div>
          </ng-template>
          <ng-template kendoTextBoxSuffixTemplate>
            <kendo-loader
              *ngIf="
                !signupForm.controls.userName.errors?.required &&
                !signupForm.controls.userName.errors?.userNameIsAlreadyInUse &&
                !signupForm.controls.userName.valid
              "
              size="small"
            ></kendo-loader>
          </ng-template>
        </kendo-textbox>
        <kendo-formerror *ngIf="signupForm.controls.userName.errors?.required"
          >Kötelező mező</kendo-formerror
        >
        <kendo-formerror
          *ngIf="signupForm.controls.userName.errors?.userNameIsAlreadyInUse"
          >Ez a felhasználónév nem elérhető</kendo-formerror
        >
      </kendo-formfield>
      <kendo-formfield>
        <kendo-textbox placeholder="Keresztnév" formControlName="firstName">
          <ng-template kendoTextBoxPrefixTemplate>
            <div class="x-input-prefix">
              <kendo-icon name="user"></kendo-icon>
            </div>
          </ng-template>
        </kendo-textbox>
        <kendo-formerror>Kötelező mező</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-textbox placeholder="Vezetéknév" formControlName="lastName">
          <ng-template kendoTextBoxPrefixTemplate>
            <div class="x-input-prefix">
              <kendo-icon name="user"></kendo-icon>
            </div>
          </ng-template>
        </kendo-textbox>
        <kendo-formerror>Kötelező mező</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-textbox
          placeholder="E-mail cím"
          formControlName="email"
          [showSuccessIcon]="signupForm.controls.email.valid"
        >
          <ng-template kendoTextBoxPrefixTemplate>
            <div class="x-input-prefix">
              <kendo-icon name="email"></kendo-icon>
            </div>
          </ng-template>
          <ng-template kendoTextBoxSuffixTemplate>
            <kendo-loader
              *ngIf="
                !signupForm.controls.email.errors?.required &&
                !signupForm.controls.email.errors?.userEmailIsAlreadyInUse &&
                !signupForm.controls.email.valid
              "
              size="small"
            ></kendo-loader>
          </ng-template>
        </kendo-textbox>
        <kendo-formerror *ngIf="signupForm.controls.email.errors?.required"
          >Kötelező mező</kendo-formerror
        >
        <kendo-formerror *ngIf="signupForm.controls.email.errors?.email"
          >Hibás e-mail formátum</kendo-formerror
        >
        <kendo-formerror
          *ngIf="signupForm.controls.email.errors?.userEmailIsAlreadyInUse"
          >Ez az e-mail cím nem elérhető</kendo-formerror
        >
      </kendo-formfield>
      <button class="btn x-btn-primary click-primary" type="submit" kendoButton>
        ÚJ FIÓK LÉTREHOZÁSA
      </button>
      <div class="link">
        <span>Már van fiókod? </span>
        <a href="#" (click)="backToLogin()">Jelentkezz be</a>
      </div>
    </form>
  </kendo-card>
  <lang-selector></lang-selector>
</div>
