<div class="card">
  <kendo-card width="320px" class="signup-card">
    <loading-overlay
      [visible]="loadingOverlayVisible | async"
      loadingText=""
    ></loading-overlay>
    <h2 translate>user.loginForm.register</h2>
    <form [formGroup]="signupForm" (ngSubmit)="submitForm()">
      <kendo-formfield>
        <kendo-textbox
          [placeholder]="'user.userName' | translate"
          formControlName="userName"
          [showSuccessIcon]="signupForm.controls.userName.valid"
        >
          <ng-template kendoTextBoxPrefixTemplate>
            <div class="x-input-prefix">
              <kendo-icon name="user"></kendo-icon>
            </div>
          </ng-template>
          <ng-template kendoTextBoxSuffixTemplate>
            <kendo-loader
              *ngIf="
                !signupForm.controls.userName.errors?.required &&
                !signupForm.controls.userName.errors?.userNameIsAlreadyInUse &&
                !signupForm.controls.userName.valid
              "
              size="small"
            ></kendo-loader>
          </ng-template>
        </kendo-textbox>
        <kendo-formerror
          *ngIf="signupForm.controls.userName.errors?.required"
          translate
          >form.required</kendo-formerror
        >
        <kendo-formerror
          *ngIf="signupForm.controls.userName.errors?.userNameIsAlreadyInUse"
          translate
          >form.userNameAlreadyExists</kendo-formerror
        >
      </kendo-formfield>
      <kendo-formfield>
        <kendo-textbox
          [placeholder]="'user.signupForm.firstName' | translate"
          formControlName="firstName"
        >
          <ng-template kendoTextBoxPrefixTemplate>
            <div class="x-input-prefix">
              <kendo-icon name="user"></kendo-icon>
            </div>
          </ng-template>
        </kendo-textbox>
        <kendo-formerror translate>form.required</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-textbox
          [placeholder]="'user.signupForm.lastName' | translate"
          formControlName="lastName"
        >
          <ng-template kendoTextBoxPrefixTemplate>
            <div class="x-input-prefix">
              <kendo-icon name="user"></kendo-icon>
            </div>
          </ng-template>
        </kendo-textbox>
        <kendo-formerror translate>form.required</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-textbox
          [placeholder]="'user.signupForm.email' | translate"
          formControlName="email"
          [showSuccessIcon]="signupForm.controls.email.valid"
        >
          <ng-template kendoTextBoxPrefixTemplate>
            <div class="x-input-prefix">
              <kendo-icon name="email"></kendo-icon>
            </div>
          </ng-template>
          <ng-template kendoTextBoxSuffixTemplate>
            <kendo-loader
              *ngIf="
                !signupForm.controls.email.errors?.required &&
                !signupForm.controls.email.errors?.userEmailIsAlreadyInUse &&
                !signupForm.controls.email.valid
              "
              size="small"
            ></kendo-loader>
          </ng-template>
        </kendo-textbox>
        <kendo-formerror
          *ngIf="signupForm.controls.email.errors?.required"
          translate
          >form.required</kendo-formerror
        >
        <kendo-formerror
          *ngIf="signupForm.controls.email.errors?.email"
          translate
          >form.wrongEmailFormat</kendo-formerror
        >
        <kendo-formerror
          *ngIf="signupForm.controls.email.errors?.userEmailIsAlreadyInUse"
          translate
          >form.emailAlreadyExists</kendo-formerror
        >
      </kendo-formfield>
      <button class="btn x-btn-primary click-primary" type="submit" kendoButton>
        {{ "user.signupForm.createNewAccount" | translate | uppercase }}
      </button>
      <div class="link">
        <span translate>user.signupForm.doYouHaveAnAccount</span>
        <a href="#" (click)="backToLogin()" translate>user.signupForm.login</a>
      </div>
    </form>
  </kendo-card>
  <lang-selector></lang-selector>
</div>
