<kendo-dialog *ngIf="active" [width]="300" [height]="600" (close)="closeForm()">
  <kendo-dialog-titlebar class="x-bg-primary x-font">
    {{
      isNew
        ? ("form.newF" | translate) + " " + ("form.capGroup" | translate)
        : ("form.edit" | translate)
    }}
  </kendo-dialog-titlebar>
  <form class="k-form" [formGroup]="form" (ngSubmit)="onSave()">
    <kendo-formfield>
      <kendo-textbox hidden formControlName="id"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="companyId"
        value="form.controls.company.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="company"
        [text]="'columns.company' | translate"
      ></kendo-label>
      <kendo-combobox
        #company
        formControlName="company"
        [data]="companies"
        textField="name"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="companyChange($event)"
        class="x-combobox-sm"
      >
      </kendo-combobox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="plantId"
        value="form.controls.plant.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="plant"
        [text]="'columns.plant' | translate"
      ></kendo-label>
      <kendo-combobox
        #plant
        formControlName="plant"
        [data]="filteredPlants"
        textField="code"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="plantChange($event)"
        class="x-combobox-sm"
      >
      </kendo-combobox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="capYear"
        value="form.controls.capYearDate.value?.getFullYear()"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="capYearDate"
        [text]="'columns.year' | translate"
      ></kendo-label>
      <kendo-datepicker
        #capYearDate
        formControlName="capYearDate"
        activeView="decade"
        bottomView="decade"
        format="yyyy"
        [formatPlaceholder]="{
          year: 'columns.year' | translate,
          month: '',
          day: '',
          hour: '',
          minute: '',
          second: ''
        }"
        (valueChange)="yearChange($event)"
        class="x-datepicker-sm"
      >
      </kendo-datepicker>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="capGroup"
        [text]="'form.capGroup' | translate"
      ></kendo-label>
      <kendo-textbox
        #capGroup
        formControlName="capGroup"
        class="x-textbox-sm"
      ></kendo-textbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="capTypeId"
        value="form.controls.capType.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="capType"
        [text]="'form.capType' | translate"
      ></kendo-label>
      <kendo-combobox
        #capType
        formControlName="capType"
        [data]="filteredCapTypes"
        textField="capType"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="capTypeChange($event)"
        class="x-combobox-sm"
      >
      </kendo-combobox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="capName"
        [text]="'form.capName' | translate"
      ></kendo-label>
      <kendo-textbox
        #capName
        formControlName="capName"
        class="x-textbox-sm"
      ></kendo-textbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="capUnitId"
        value="form.controls.capUnit.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="capUnit"
        [text]="'form.capUnit' | translate"
      ></kendo-label>
      <kendo-combobox
        #capUnit
        formControlName="capUnit"
        [data]="filteredCapUnits"
        textField="unit"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="capUnitChange($event)"
        class="x-combobox-sm"
      >
      </kendo-combobox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="invNr"
        [text]="'columns.invNr' | translate"
      ></kendo-label>
      <kendo-textbox
        #invNr
        formControlName="invNr"
        class="x-textbox-sm"
      ></kendo-textbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="normalCap"
        [text]="'columns.normalCap' | translate"
      ></kendo-label>
      <kendo-numerictextbox
        #normalCap
        formControlName="normalCap"
        [spinners]="false"
        class="x-numerictextbox-sm"
      >
      </kendo-numerictextbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="fixRate"
        [text]="'columns.fixRate' | translate"
      ></kendo-label>
      <kendo-numerictextbox
        #fixRate
        formControlName="fixRate"
        [spinners]="false"
        class="x-numerictextbox-sm"
      >
      </kendo-numerictextbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <!-- hidden submit button in order to get work the submit event on enter -->
    <button type="submit" hidden></button>
  </form>
  <kendo-dialog-actions>
    <button
      type="button"
      kendoButton
      icon="cancel"
      (click)="onCancel()"
      class="x-btn-light click-light"
      translate
    >
      form.cancel
    </button>
    <button
      type="submit"
      kendoButton
      icon="save"
      class="x-btn-primary click-primary"
      (click)="onSave()"
      translate
    >
      form.save
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
