<kendo-dialog *ngIf="active" [width]="300" [height]="350" (close)="closeForm()">
  <kendo-dialog-titlebar class="x-bg-primary x-font">
    {{ isNew ? "Új PROVK" : "Szerkesztés" }}
  </kendo-dialog-titlebar>
  <form class="k-form" [formGroup]="form" (ngSubmit)="onSave()">
    <kendo-formfield>
      <kendo-textbox hidden formControlName="id"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="companyId"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="plantId"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="year"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="month"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label [for]="period" text="Periódus"></kendo-label>
      <kendo-datepicker
        #period
        formControlName="period"
        activeView="year"
        bottomView="year"
        format="yyyy.MM"
        [min]="minDate"
        [max]="maxDate"
        [formatPlaceholder]="{
          year: 'Év',
          month: 'Hónap',
          day: '',
          hour: '',
          minute: '',
          second: ''
        }"
        (valueChange)="periodChange($event)"
        class="x-datepicker-sm"
      >
      </kendo-datepicker>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label [for]="versions" text="Verziók száma"></kendo-label>
      <kendo-numerictextbox
        #versions
        formControlName="versions"
        [spinners]="false"
        format="n0"
        class="x-numerictextbox-sm"
      >
      </kendo-numerictextbox>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <!-- hidden submit button in order to get work the submit event on enter -->
    <button type="submit" hidden></button>
  </form>
  <kendo-dialog-actions>
    <button
      type="button"
      kendoButton
      icon="cancel"
      (click)="onCancel()"
      class="x-btn-light click-light"
    >
      Mégsem
    </button>
    <button
      type="submit"
      kendoButton
      icon="save"
      class="x-btn-primary click-primary"
      (click)="onSave()"
    >
      Mentés
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
