<kendo-dialog *ngIf="active" [width]="300" [height]="350" (close)="closeForm()">
  <kendo-dialog-titlebar class="x-bg-primary x-font">
    {{
      isNew ? ("form.newN" | translate) + " PROVK" : ("form.edit" | translate)
    }}
  </kendo-dialog-titlebar>
  <form class="k-form" [formGroup]="form" (ngSubmit)="onSave()">
    <kendo-formfield>
      <kendo-textbox hidden formControlName="id"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="companyId"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="plantId"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="year"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="month"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="period"
        [text]="'form.period' | translate"
      ></kendo-label>
      <kendo-datepicker
        #period
        formControlName="period"
        activeView="year"
        bottomView="year"
        format="y"
        [min]="minDate"
        [max]="maxDate"
        [formatPlaceholder]="{
          year: 'columns.year' | translate,
          month: 'columns.month' | translate,
          day: '',
          hour: '',
          minute: '',
          second: ''
        }"
        (valueChange)="periodChange($event)"
        class="x-datepicker-sm"
      >
      </kendo-datepicker>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="versions"
        [text]="'form.versionNumber' | translate"
      ></kendo-label>
      <kendo-numerictextbox
        #versions
        formControlName="versions"
        [spinners]="false"
        format="n0"
        class="x-numerictextbox-sm"
      >
      </kendo-numerictextbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <!-- hidden submit button in order to get work the submit event on enter -->
    <button type="submit" hidden></button>
  </form>
  <kendo-dialog-actions>
    <button
      type="button"
      kendoButton
      icon="cancel"
      (click)="onCancel()"
      class="x-btn-light click-light"
      translate
    >
      form.cancel
    </button>
    <button
      type="submit"
      kendoButton
      icon="save"
      class="x-btn-primary click-primary"
      (click)="onSave()"
      translate
    >
      form.save
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
