<div class="component-header" translate>sidebar.browseBookings</div>
<kendo-breadcrumb
  [items]="navItems"
  (itemClick)="onNavItemClick($event)"
  *ngIf="state?.filterEntity"
></kendo-breadcrumb>
<div class="grid" [ngClass]="state?.filterEntity ? 'grid-with-breadcrumb' : ''">
  <kendo-grid
    [kendoGridBinding]="gridData.data"
    [filterable]="true"
    [resizable]="true"
    [sortable]="true"
    [style.maxHeight.%]="100"
    #grid
  >
    <ng-template kendoGridToolbarTemplate>
      <button
        kendoButton
        class="x-btn-primary click-primary"
        icon="filter"
        (click)="showFilterForm()"
        *ngIf="!state?.filterEntity"
        translate
      >
        form.filter
      </button>
      <button
        kendoGridExcelCommand
        class="x-btn-primary click-primary"
        icon="excel"
        *ngIf="filtered"
      ></button>
    </ng-template>
    <kendo-grid-column
      field="costCenter"
      [title]="'columns.costCenter' | translate"
      [width]="110"
    ></kendo-grid-column>
    <kendo-grid-column
      field="accountNumber"
      [title]="'columns.accountNumber' | translate"
      [width]="120"
    ></kendo-grid-column>
    <kendo-grid-column
      field="accountName"
      [title]="'columns.name' | translate"
      [width]="170"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="amount"
      [title]="'columns.invoiceAmount' | translate"
      format="{0:n2}"
      [width]="130"
      [style]="{ 'text-align': 'right' }"
      filter="numeric"
    ></kendo-grid-column>
    <kendo-grid-column
      field="currency"
      [title]="'form.currency' | translate"
      [width]="85"
    ></kendo-grid-column>
    <kendo-grid-column
      field="transAmount"
      [title]="'columns.transAmount' | translate"
      format="{0:n2}"
      [width]="115"
      [style]="{ 'text-align': 'right' }"
      filter="numeric"
    ></kendo-grid-column>
    <kendo-grid-column
      field="transCur"
      [title]="'columns.transCurr' | translate"
      [width]="100"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="bookingNr"
      [title]="'columns.bookingNr' | translate"
      [width]="125"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="refNr"
      [title]="'columns.refNr' | translate"
      [width]="120"
    ></kendo-grid-column>
    <kendo-grid-column
      field="partnerObj"
      [title]="'columns.partnerObj' | translate"
      [width]="130"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="partnerObjName"
      [title]="'columns.partnerObjName' | translate"
      [width]="170"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="contAccNumb"
      [title]="'columns.contAccNumb' | translate"
      [width]="140"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="contAccName"
      [title]="'columns.contAccName' | translate"
      [width]="180"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="period"
      [title]="'form.period' | translate"
      [width]="85"
    ></kendo-grid-column>
    <kendo-grid-column
      field="bookingDate"
      [title]="'columns.bookingDate' | translate"
      format="{0:d}"
      [width]="165"
      filter="date"
    >
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <kendo-grid-date-filter-cell
          [column]="column"
          [filter]="filter"
          [formatPlaceholder]="{
            year: 'columns.year' | translate,
            month: 'columns.month' | translate,
            day: 'columns.day' | translate,
            hour: '',
            minute: '',
            second: ''
          }"
        >
        </kendo-grid-date-filter-cell>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="docDate"
      [title]="'columns.docDate' | translate"
      format="{0:d}"
      [width]="165"
    >
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <kendo-grid-date-filter-cell
          [column]="column"
          [filter]="filter"
          [formatPlaceholder]="{
            year: 'columns.year' | translate,
            month: 'columns.month' | translate,
            day: 'columns.day' | translate,
            hour: '',
            minute: '',
            second: ''
          }"
        >
        </kendo-grid-date-filter-cell>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="postingDate"
      [title]="'columns.postingDate' | translate"
      format="{0:d}"
      [width]="165"
    >
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <kendo-grid-date-filter-cell
          [column]="column"
          [filter]="filter"
          [formatPlaceholder]="{
            year: 'columns.year' | translate,
            month: 'columns.month' | translate,
            day: 'columns.day' | translate,
            hour: '',
            minute: '',
            second: ''
          }"
        >
        </kendo-grid-date-filter-cell>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="userName"
      [title]="'appbar.user' | translate"
      [width]="105"
    ></kendo-grid-column>
    <kendo-grid-excel
      fileName="Items.xlsx"
      [collapsible]="true"
    ></kendo-grid-excel>
  </kendo-grid>
</div>
<filter
  [model]="filterEntity"
  [keepData]="true"
  [monthOverview]="true"
  [firstClicked]="filterFirst"
  (save)="saveFilterForm($event)"
  (cancel)="cancelFilterForm()"
></filter>
<div kendoDialogContainer></div>
<loading-overlay
  [visible]="loadingOverlayVisible | async"
  loadingText=""
></loading-overlay>
