<div class="component-header" translate>sidebar.languages</div>
<div class="grid">
  <kendo-grid
    [kendoGridBinding]="gridData.data"
    [filterable]="true"
    [sortable]="true"
    [style.maxHeight.%]="100"
    (add)="addHandler()"
  >
    <ng-template kendoGridToolbarTemplate>
      <button
        kendoGridAddCommand
        [primary]="true"
        icon="file"
        class="x-btn-primary click-primary"
        translate
      >
        form.new
      </button>
    </ng-template>
    <kendo-grid-column
      [hidden]="true"
      field="id"
      title="ID"
    ></kendo-grid-column>
    <kendo-grid-column
      field="isoCode"
      [title]="'form.isoCode' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="name"
      [title]="'columns.lang' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="defaultLang"
      [title]="'form.default' | translate"
      filter="boolean"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <div style="text-align: center">
          <input type="checkbox" disabled [checked]="dataItem.defaultLang" />
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column [width]="70">
      <ng-template kendoGridCellTemplate let-dataItem>
        <kendo-icon
          class="command-icon"
          themeColor="primary"
          name="edit"
          (click)="editHandler({ dataItem: dataItem })"
        ></kendo-icon>
        <kendo-icon
          class="command-icon"
          themeColor="secondary"
          name="delete"
          (click)="removeHandler({ dataItem: dataItem })"
        ></kendo-icon>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>
<ce-language
  [model]="editDataItem"
  [isNew]="isNew"
  (save)="saveHandler($event)"
  (cancel)="cancelHandler()"
></ce-language>
<div
  class="x-dialog-container"
  confirmdialog-style
  [isMsgDialog]="isMsgDialog"
  [dialogType]="dialogType"
>
  <div kendoDialogContainer></div>
</div>
<loading-overlay
  [visible]="loadingOverlayVisible | async"
  loadingText=""
></loading-overlay>
