<kendo-dialog *ngIf="active" [width]="300" [height]="530" (close)="closeForm()">
  <kendo-dialog-titlebar class="x-bg-primary x-font"
    >Új verzió</kendo-dialog-titlebar
  >
  <form class="k-form" [formGroup]="form" (ngSubmit)="onSave()">
    <kendo-formfield>
      <kendo-textbox hidden formControlName="id"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="status"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="companyId"
        value="form.controls.company.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label [for]="company" text="Gazdasági egység"></kendo-label>
      <kendo-combobox
        #company
        formControlName="company"
        [data]="companies"
        textField="name"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="companyChange($event)"
        class="x-combobox-sm"
      >
        <ng-template kendoComboBoxNoDataTemplate>
          Nincs megjelenítendő adat
        </ng-template>
      </kendo-combobox>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="plantId"
        value="form.controls.plant.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label [for]="plant" text="Gyár"></kendo-label>
      <kendo-combobox
        #plant
        formControlName="plant"
        [data]="filteredPlants"
        textField="code"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="plantChange($event)"
        class="x-combobox-sm"
      >
        <ng-template kendoComboBoxNoDataTemplate>
          Nincs megjelenítendő adat
        </ng-template>
      </kendo-combobox>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="year"
        value="form.controls.yearDate.value?.getFullYear()"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label [for]="yearDate" text="Év"></kendo-label>
      <kendo-datepicker
        #yearDate
        formControlName="yearDate"
        activeView="decade"
        bottomView="decade"
        format="yyyy"
        [formatPlaceholder]="{
          year: ' ',
          month: '',
          day: '',
          hour: '',
          minute: '',
          second: ''
        }"
        (valueChange)="yearChange($event)"
        class="x-datepicker-sm"
      >
      </kendo-datepicker>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="costAccTypeId"
        value="form.controls.costAccType.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="costAccType"
        text="Költségszámítási típus"
      ></kendo-label>
      <kendo-combobox
        #costAccType
        formControlName="costAccType"
        [data]="costAccTypes"
        textField="name"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="costAccTypeChange($event)"
        class="x-combobox-sm"
      >
        <ng-template kendoComboBoxNoDataTemplate>
          Nincs megjelenítendő adat
        </ng-template>
      </kendo-combobox>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label [for]="descr" text="Leírás"></kendo-label>
      <kendo-textbox
        #descr
        formControlName="descr"
        class="x-textbox-sm"
      ></kendo-textbox>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <!-- hidden submit button in order to get work the submit event on enter -->
    <button type="submit" hidden></button>
  </form>
  <kendo-dialog-actions>
    <button
      type="button"
      kendoButton
      icon="cancel"
      (click)="onCancel()"
      class="x-btn-light click-light"
    >
      Mégsem
    </button>
    <button
      type="submit"
      kendoButton
      icon="save"
      class="x-btn-primary click-primary"
      (click)="onSave()"
    >
      Mentés
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
