<kendo-label
  [for]="company"
  [text]="'columns.company' | translate"
></kendo-label>
<kendo-textbox
  #company
  class="x-textbox-sm x-readonly"
  [readonly]="true"
  [value]="form.get('entity.company')?.value.name"
>
</kendo-textbox>
<kendo-label [for]="plant" [text]="'columns.plant' | translate"></kendo-label>
<kendo-textbox
  #plant
  class="x-textbox-sm x-readonly"
  [readonly]="true"
  [value]="form.get('entity.plant')?.value.code"
>
</kendo-textbox>
<kendo-label
  [for]="month"
  [text]="('columns.year' | translate) + '/' + ('columns.month' | translate)"
></kendo-label>
<kendo-textbox
  #month
  class="x-textbox-sm x-readonly"
  [readonly]="true"
  [value]="monthValue"
>
</kendo-textbox>
<kendo-label [for]="fileName" [text]="'form.file' | translate"></kendo-label>
<kendo-textbox
  #fileName
  class="x-textbox-sm x-readonly"
  [readonly]="true"
  [value]="form.get('file.fileName')?.value[0].name"
>
</kendo-textbox>
