<div class="component-header">Home</div>
<div class="container">
  <div class="quick-access-container">
    <div class="header" translate>
      components.home.quickAccess
      <div class="header-line"></div>
    </div>
    <quick-access class="flex-row"></quick-access>
    <div class="header" translate>
      components.home.lastVisited
      <div class="header-line"></div>
    </div>
    <recently-visited class="flex-row"></recently-visited>
  </div>
  <div class="task-container">
    <div class="header" translate>
      components.home.tasks
      <div class="header-line"></div>
    </div>
    <tasks class="tasks"></tasks>
  </div>
</div>
<loading-overlay
  [visible]="loadingOverlayVisible | async"
  loadingText=""
></loading-overlay>
