<div class="card">
  <kendo-card width="320px">
    <loading-overlay
      [visible]="loadingOverlayVisible | async"
      loadingText=""
    ></loading-overlay>
    <h2 translate>user.loginForm.login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <kendo-formfield>
        <kendo-textbox
          [placeholder]="'user.userName' | translate"
          formControlName="userName"
        >
          <ng-template kendoTextBoxPrefixTemplate>
            <div class="x-input-prefix">
              <kendo-icon name="user"></kendo-icon>
            </div>
          </ng-template>
        </kendo-textbox>
        <kendo-formerror translate>form.required</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-textbox
          [placeholder]="'user.password' | translate"
          #tbxPassword
          formControlName="password"
        >
          <ng-template kendoTextBoxPrefixTemplate>
            <div class="x-input-prefix">
              <kendo-icon name="lock"></kendo-icon>
            </div>
          </ng-template>
          <ng-template kendoTextBoxSuffixTemplate *ngIf="tbxPassword.value">
            <span class="k-icon k-i-eye eye-icon" (click)="togglePass()"></span>
          </ng-template>
        </kendo-textbox>
        <kendo-formerror translate>form.required</kendo-formerror>
      </kendo-formfield>
      <div class="remember-me">
        <input
          type="checkbox"
          #rememberMe
          formControlName="rememberMe"
          kendoCheckBox
        />
        <kendo-label
          class="k-checkbox-label"
          [for]="rememberMe"
          [text]="'user.loginForm.rememberMe' | translate"
        ></kendo-label>
      </div>
      <button type="submit" kendoButton class="btn x-btn-primary click-primary">
        {{ "user.loginForm.doLogin" | translate | uppercase }}
      </button>
      <a class="link" href="#" (click)="showForgotPwdForm()" translate
        >user.loginForm.forgotPwd</a
      >
      <button
        type="button"
        kendoButton
        class="btn x-btn-outline-primary"
        click-primary
        (click)="showCreateAccountForm()"
      >
        {{ "user.loginForm.register" | translate | uppercase }}
      </button>
    </form>
  </kendo-card>
  <lang-selector></lang-selector>
</div>
