<div class="card">
  <kendo-card width="320px">
    <loading-overlay
      [visible]="loadingOverlayVisible | async"
      loadingText=""
    ></loading-overlay>
    <h2>Bejelentkezés</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <kendo-formfield>
        <kendo-textbox placeholder="Felhasználónév" formControlName="userName">
          <ng-template kendoTextBoxPrefixTemplate>
            <div class="x-input-prefix">
              <kendo-icon name="user"></kendo-icon>
            </div>
          </ng-template>
        </kendo-textbox>
        <kendo-formerror>Kötelező mező</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield>
        <kendo-textbox
          placeholder="Jelszó"
          #tbxPassword
          formControlName="password"
        >
          <ng-template kendoTextBoxPrefixTemplate>
            <div class="x-input-prefix">
              <kendo-icon name="lock"></kendo-icon>
            </div>
          </ng-template>
          <ng-template kendoTextBoxSuffixTemplate *ngIf="tbxPassword.value">
            <span class="k-icon k-i-eye eye-icon" (click)="togglePass()"></span>
          </ng-template>
        </kendo-textbox>
        <kendo-formerror>Kötelező mező</kendo-formerror>
      </kendo-formfield>
      <div class="remember-me">
        <input type="checkbox" #rememberMe kendoCheckBox />
        <kendo-label
          class="k-checkbox-label"
          [for]="rememberMe"
          text="Jegyezd meg"
        ></kendo-label>
      </div>
      <button type="submit" kendoButton class="btn x-btn-primary click-primary">
        BEJELENTKEZÉS
      </button>
      <a class="link" href="#" (click)="showForgotPwdForm()"
        >Elfelejtettem a jelszót</a
      >
      <button
        type="button"
        kendoButton
        class="btn x-btn-outline-primary"
        click-primary
        (click)="showCreateAccountForm()"
      >
        REGISZTRÁCIÓ
      </button>
    </form>
  </kendo-card>
  <lang-selector></lang-selector>
</div>
