<div class="component-header" translate>sidebar.costAllocations</div>
<div class="grid">
  <kendo-grid
    [kendoGridBinding]="gridData.data"
    [filterable]="true"
    [sortable]="true"
    [style.maxHeight.%]="100"
    (add)="addHandler()"
  >
    <ng-template kendoGridToolbarTemplate>
      <button
        kendoGridAddCommand
        class="x-btn-primary click-primary"
        icon="file"
        translate
      >
        form.new
      </button>
      <kendo-grid-spacer width="1px"></kendo-grid-spacer>
      <button
        kendoButton
        icon="copy"
        (click)="showCopyForm()"
        class="x-btn-light-primary x-text-primary click-primary"
        translate
      >
        form.copy
      </button>
    </ng-template>
    <kendo-grid-column
      [hidden]="true"
      field="id"
      title="ID"
    ></kendo-grid-column>
    <kendo-grid-column
      field="level"
      [title]="'form.level' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="name"
      [title]="'columns.name' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="allocCostCenter.code"
      [title]="'form.baseCostCenter' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="allocCostCenter.name"
      [title]="'columns.name' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="costAccount.accountNumber"
      [title]="'columns.accountNumber' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="costAccount.name"
      [title]="'form.costAccount' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="year"
      [title]="'columns.year' | translate"
      filter="numeric"
      format="d"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="plant.code"
      [title]="'columns.plant' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="company.name"
      [title]="'columns.company' | translate"
    ></kendo-grid-column>
    <kendo-grid-command-column [width]="90">
      <ng-template kendoGridCellTemplate let-dataItem>
        <kendo-icon
          class="command-icon"
          themeColor="primary"
          name="edit"
          (click)="editHandler({ dataItem: dataItem })"
        ></kendo-icon>
        <kendo-icon
          class="command-icon"
          themeColor="secondary"
          name="group"
          (click)="showAllocationDetails({ dataItem: dataItem })"
        ></kendo-icon>
        <kendo-icon
          class="command-icon"
          themeColor="secondary"
          name="delete"
          (click)="removeHandler({ dataItem: dataItem })"
        ></kendo-icon>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>
<ce-costallocation
  [model]="editDataItem"
  [isNew]="isNew"
  (save)="saveHandler($event)"
  (cancel)="cancelHandler()"
></ce-costallocation>
<copy-entity
  [model]="copyAllocation"
  (save)="saveHandlerCopyAllocation($event)"
  (cancel)="cancelHandlerCopyAllocation()"
></copy-entity>
<allocation-details
  [model]="selectedCostAllocationDetails"
  [costAllocation]="selectedCostAllocation"
  [recCostCenters]="recCostCenters"
  (cancel)="cancelAllocationDetails()"
></allocation-details>
<div
  class="x-dialog-container"
  confirmdialog-style
  [isMsgDialog]="isMsgDialog"
  [dialogType]="dialogType"
>
  <div kendoDialogContainer></div>
</div>
<loading-overlay
  [visible]="loadingOverlayVisible | async"
  loadingText=""
></loading-overlay>
