<kendo-dialog *ngIf="active" [width]="300" [height]="450" (close)="closeForm()">
  <kendo-dialog-titlebar class="x-bg-primary x-font" translate>
    {{ "form.edit" | translate }}
  </kendo-dialog-titlebar>
  <form class="k-form" [formGroup]="form" (ngSubmit)="onSave()">
    <kendo-formfield>
      <kendo-textbox hidden formControlName="id"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="firstName"
        [text]="'user.signupForm.firstName' | translate"
      ></kendo-label>
      <kendo-textbox
        #firstName
        formControlName="firstName"
        class="x-textbox-sm"
      >
      </kendo-textbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="lastName"
        [text]="'user.signupForm.lastName' | translate"
      ></kendo-label>
      <kendo-textbox #lastName formControlName="lastName" class="x-textbox-sm">
      </kendo-textbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="userName"
        [text]="'user.userName' | translate"
      ></kendo-label>
      <kendo-textbox #userName formControlName="userName" class="x-textbox-sm">
      </kendo-textbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="email"
        [text]="'user.signupForm.email' | translate"
      ></kendo-label>
      <kendo-textbox #email formControlName="email" class="x-textbox-sm">
      </kendo-textbox>
      <kendo-formerror *ngIf="form.controls.email.errors?.required" translate
        >form.required</kendo-formerror
      >
      <kendo-formerror *ngIf="form.controls.email.errors?.email" translate
        >form.wrongEmailFormat</kendo-formerror
      >
    </kendo-formfield>
    <kendo-formfield>
      <div class="k-checkbox-wrap">
        <input
          type="checkbox"
          #active
          formControlName="isActive"
          kendoCheckBox
        />
        <kendo-label
          class="k-checkbox-label"
          [for]="active"
          [text]="'user.active' | translate"
        ></kendo-label>
      </div>
    </kendo-formfield>
    <kendo-formfield>
      <div class="k-checkbox-wrap">
        <input
          type="checkbox"
          #notLocked
          formControlName="isNotLocked"
          kendoCheckBox
        />
        <kendo-label
          class="k-checkbox-label"
          [for]="notLocked"
          [text]="'user.notLocked' | translate"
        ></kendo-label>
      </div>
    </kendo-formfield>
    <!-- hidden submit button in order to get work the submit event on enter -->
    <button type="submit" hidden></button>
  </form>
  <kendo-dialog-actions>
    <button
      type="button"
      kendoButton
      icon="cancel"
      (click)="onCancel()"
      class="x-btn-light click-light"
      translate
    >
      form.cancel
    </button>
    <button
      type="submit"
      kendoButton
      icon="save"
      [primary]="true"
      (click)="onSave()"
      class="x-btn-primary click-primary"
      translate
    >
      form.save
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
