<kendo-drawer-container>
  <kendo-drawer
    #drawer
    [mini]="true"
    [items]="drawerItems"
    [(expanded)]="drawerExpanded"
    [autoCollapse]="false"
    mode="push"
    (select)="onSelect($event)"
  >
    <ng-template kendoDrawerItemTemplate let-item>
      <div kendoTooltip>
        <kendo-icon name="{{ item.icon }}" title="{{ item.text }}"></kendo-icon>
      </div>
      <div
        *ngIf="drawerExpanded"
        class="k-level-{{ item.level }}"
        [innerHTML]="item.text | highlight: searchTerm"
      ></div>
      <span
        *ngIf="item.expanded && item['children']"
        class="k-icon k-i-arrow-chevron-down"
        style="margin-left: auto"
      ></span>
      <span
        *ngIf="!item.expanded && item['children'] && drawerExpanded"
        class="k-icon k-i-arrow-chevron-right arrow-left"
        style="margin-left: auto"
      ></span>
    </ng-template>
  </kendo-drawer>
  <kendo-drawer-content>
    <div class="routed-component">
      <router-outlet></router-outlet>
    </div>
  </kendo-drawer-content>
</kendo-drawer-container>
