<div style="position: relative">
  <div class="x-toolbar" style="margin-bottom: 1rem">
    <span class="k-label" translate>columns.department</span>
    <kendo-combobox
      #department
      [data]="departments"
      textField="name"
      valueField="id"
      [kendoDropDownFilter]="{ operator: 'contains' }"
      (valueChange)="departmentChange($event)"
      class="x-combobox-sm"
    >
    </kendo-combobox>
  </div>
  <kendo-grid
    [kendoGridReactiveEditing]="createFormGroup"
    [kendoGridBinding]="gridData.data"
    [sortable]="true"
    [group]="groups"
    #grid
  >
    <kendo-grid-column
      field="id"
      title="ID"
      [hidden]="true"
    ></kendo-grid-column>
    <kendo-grid-column
      field="department"
      [title]="'columns.department' | translate"
      [width]="130"
      [editable]="false"
    ></kendo-grid-column>
    <kendo-grid-column
      field="costGroup"
      [title]="'columns.costGroup' | translate"
      [width]="150"
      [editable]="false"
    ></kendo-grid-column>
    <kendo-grid-column
      field="job"
      [title]="'columns.job' | translate"
      [width]="130"
      [editable]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="costCenter"
      [title]="'columns.costCenter' | translate"
      [width]="100"
      [editable]="false"
    ></kendo-grid-column>
    <kendo-grid-column
      *ngFor="let period of periods; index as i"
      field="p{{ i + 1 }}"
      title="{{ i + 1 }}"
      format="{0:n0}"
      [style]="{ 'text-align': 'right' }"
      [headerStyle]="{ 'text-align': 'right' }"
    >
      <ng-template
        kendoGridEditTemplate
        let-column="column"
        let-formGroup="formGroup"
        let-rowIndex="rowIndex"
      >
        <kendo-numerictextbox
          [spinners]="false"
          #p="popupAnchor"
          format="n0"
          popupAnchor
          [formControl]="formGroup.get(column.field)"
        >
        </kendo-numerictextbox>
        <kendo-popup
          [anchor]="$any(p.element)"
          *ngIf="
            formGroup.get(column.field).invalid &&
            !formGroup.get(column.field).untouched
          "
          popupClass="k-widget k-tooltip k-tooltip-error k-validator-tooltip"
        >
          {{ "form.required" | translate }}
        </kendo-popup>
      </ng-template>
      <ng-template
        kendoGridGroupFooterTemplate
        let-group="group"
        let-aggregates
        let-field="field"
      >
        <span style="display: flex; justify-content: end">{{
          aggregates[field].sum | number: "1.0-0"
        }}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column [width]="70">
      <ng-template
        kendoGridCellTemplate
        let-dataItem="dataItem"
        let-rowIndex="rowIndex"
        let-isNew="isNew"
      >
        <kendo-icon
          *ngIf="isNew || (editing && rowIndex === editedRowIndex)"
          class="command-icon"
          themeColor="primary"
          name="save"
          (click)="saveHandler({ sender: grid, rowIndex: rowIndex })"
        ></kendo-icon>
        <kendo-icon
          *ngIf="!isNew && !editing"
          class="command-icon"
          themeColor="primary"
          name="edit"
          (click)="
            editHandler({
              sender: grid,
              rowIndex: rowIndex,
              dataItem: dataItem
            })
          "
        ></kendo-icon>
        <kendo-icon
          *ngIf="isNew || (editing && rowIndex === editedRowIndex)"
          class="command-icon"
          themeColor="secondary"
          name="cancel"
          (click)="cancelHandler({ sender: grid, rowIndex: rowIndex })"
        ></kendo-icon>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>
