<div class="component-header">PROVK</div>
<div class="x-toolbar">
  <button
    kendoButton
    icon="filter"
    class="x-btn-primary click-primary"
    (click)="showFilterForm()"
  >
    Szűrés
  </button>
  <button
    kendoButton
    icon="file"
    *ngIf="listWasFiltered"
    class="x-btn-primary click-primary"
    (click)="addHandler()"
  >
    Új PROVK
  </button>
</div>
<provk-card
  class="flex-layout"
  [provks]="gridData.data"
  (versionSelectorShow)="showVersionSelector($event)"
  (onEditProvk)="editHandler({ dataItem: $event })"
  (onDeleteProvk)="removeHandler({ dataItem: $event })"
  (onAddNewVersion)="addNewVersion($event)"
></provk-card>
<filter
  [model]="filterEntity"
  (save)="saveFilterForm($event)"
  (cancel)="cancelFilterForm()"
></filter>
<version-selector [versions]="provkVersions"></version-selector>
<ce-provk
  [model]="editDataItem"
  [isNew]="isNew"
  [company]="company"
  [plant]="plant"
  [minDate]="minDate"
  [maxDate]="maxDate"
  (save)="saveHandler($event)"
  (cancel)="cancelHandler()"
></ce-provk>
<div
  class="x-dialog-container"
  confirmdialog-style
  [isMsgDialog]="isMsgDialog"
  [dialogType]="dialogType"
>
  <div kendoDialogContainer></div>
</div>
<loading-overlay
  [visible]="loadingOverlayVisible | async"
  loadingText=""
></loading-overlay>
