<kendo-dialog
  *ngIf="formVisible"
  [width]="300"
  [height]="!planning ? 400 : 530"
  (close)="closeForm()"
>
  <kendo-dialog-titlebar class="x-bg-primary x-font"
    >Szűrés</kendo-dialog-titlebar
  >
  <form class="k-form" [formGroup]="form" (ngSubmit)="onSave()">
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="companyId"
        value="form.controls.company.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label [for]="company" text="Gazdasági egység"></kendo-label>
      <kendo-combobox
        #company
        formControlName="company"
        [data]="companies"
        textField="name"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="companyChange($event)"
        class="x-combobox-sm"
      >
        <ng-template kendoComboBoxNoDataTemplate>
          Nincs megjelenítendő adat
        </ng-template>
      </kendo-combobox>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox
        hidden
        formControlName="plantId"
        value="form.controls.plant.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label [for]="plant" text="Gyár"></kendo-label>
      <kendo-combobox
        #plant
        formControlName="plant"
        [data]="filteredPlants"
        textField="code"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="plantChange($event)"
        class="x-combobox-sm"
      >
        <ng-template kendoComboBoxNoDataTemplate>
          Nincs megjelenítendő adat
        </ng-template>
      </kendo-combobox>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="year"
        text="{{ monthOverview ? 'Év/hónap' : 'Év' }}"
      ></kendo-label>
      <kendo-datepicker
        #year
        formControlName="year"
        [activeView]="monthOverview ? yearView : decadeView"
        [bottomView]="monthOverview ? yearView : decadeView"
        format="{{ monthOverview ? 'yyyy.MM' : 'yyyy' }}"
        [formatPlaceholder]="{
          year: 'Év',
          month: monthOverview ? 'Hónap' : '',
          day: '',
          hour: '',
          minute: '',
          second: ''
        }"
        (valueChange)="yearChange($event)"
        class="x-datepicker-sm"
      >
      </kendo-datepicker>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield *ngIf="planning || frc">
      <kendo-textbox
        hidden
        formControlName="costAccTypeId"
        value="form.controls.costAccType.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield *ngIf="planning || frc">
      <kendo-label
        [for]="costAccType"
        text="Költségszámítási típus"
      ></kendo-label>
      <kendo-combobox
        #costAccType
        formControlName="costAccType"
        [data]="costAccTypes"
        textField="name"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="costAccTypeChange($event)"
        class="x-combobox-sm"
      >
        <ng-template kendoComboBoxNoDataTemplate>
          Nincs megjelenítendő adat
        </ng-template>
      </kendo-combobox>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield *ngIf="showAllCostCenter">
      <div class="k-checkbox-wrap">
        <input
          type="checkbox"
          #all
          formControlName="allCostCenter"
          kendoCheckBox
          (change)="allCostCenterChange($event)"
        />
        <kendo-label
          class="k-checkbox-label"
          [for]="all"
          text="Összes költséghely"
        ></kendo-label>
      </div>
    </kendo-formfield>
    <kendo-formfield *ngIf="planning">
      <kendo-textbox
        hidden
        formControlName="costCenterId"
        value="form.controls.costCenter.value?.id"
      ></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield *ngIf="planning">
      <kendo-label [for]="costCenter" text="Költséghely"></kendo-label>
      <kendo-multicolumncombobox
        #costCenter
        formControlName="costCenter"
        [data]="filteredCostCenters"
        textField="code"
        valueField="id"
        [kendoDropDownFilter]="{
          operator: 'contains',
          fields: ['code', 'name']
        }"
        (valueChange)="costCenterChange($event)"
        class="x-combobox-sm"
      >
        <kendo-combobox-column field="code" title="Költséghely" [width]="100">
        </kendo-combobox-column>
        <kendo-combobox-column field="name" title="Megnevezés" [width]="200">
        </kendo-combobox-column>
        <ng-template kendoMultiColumnComboBoxNoDataTemplate>
          Nincs megjelenítendő adat
        </ng-template>
      </kendo-multicolumncombobox>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <!-- hidden submit button in order to get work the submit event on enter -->
    <button type="submit" hidden></button>
  </form>
  <kendo-dialog-actions>
    <button
      type="button"
      kendoButton
      icon="cancel"
      (click)="onCancel()"
      class="x-btn-light click-light"
    >
      Mégsem
    </button>
    <button
      type="submit"
      kendoButton
      icon="filter"
      class="x-btn-primary click-primary"
      (click)="onSave()"
    >
      Szűrés
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
