<kendo-dialog *ngIf="active" [width]="300" [height]="350" (close)="closeForm()">
  <kendo-dialog-titlebar class="x-bg-primary x-font">
    {{ isNew ? ("form.newFrc" | translate) : ("form.edit" | translate) }}
  </kendo-dialog-titlebar>
  <form class="k-form" [formGroup]="form" (ngSubmit)="onSave()">
    <kendo-formfield>
      <kendo-textbox hidden formControlName="id"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="companyId"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="plantId"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="costAccTypeId"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="year"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="version"
        [text]="'form.version' | translate"
      ></kendo-label>
      <kendo-textbox #version formControlName="version" class="x-textbox-sm">
      </kendo-textbox>
      <kendo-formerror translate>form.required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="comment"
        [text]="'form.comment' | translate"
      ></kendo-label>
      <kendo-textarea #comment formControlName="comment" class="x-textarea-sm">
      </kendo-textarea>
    </kendo-formfield>
    <!-- hidden submit button in order to get work the submit event on enter -->
    <button type="submit" hidden></button>
  </form>
  <kendo-dialog-actions>
    <button
      type="button"
      kendoButton
      icon="cancel"
      (click)="onCancel()"
      class="x-btn-light click-light"
      translate
    >
      form.cancel
    </button>
    <button
      type="submit"
      kendoButton
      icon="save"
      class="x-btn-primary click-primary"
      (click)="onSave()"
      translate
    >
      form.save
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
