<div class="component-header" translate>sidebar.costAccounts</div>
<div class="grid">
  <kendo-grid
    [kendoGridBinding]="gridData.data"
    [filterable]="true"
    [sortable]="true"
    [style.maxHeight.%]="100"
    (add)="addHandler()"
  >
    <ng-template kendoGridToolbarTemplate>
      <button
        kendoGridAddCommand
        class="x-btn-primary click-primary"
        icon="file"
        translate
      >
        form.new
      </button>
      <kendo-grid-spacer width="1px"></kendo-grid-spacer>
      <button
        kendoButton
        icon="copy"
        (click)="showCopyForm()"
        class="x-btn-light-primary x-text-primary click-primary"
        translate
      >
        form.copy
      </button>
    </ng-template>
    <kendo-grid-column
      [hidden]="true"
      field="id"
      title="ID"
    ></kendo-grid-column>
    <kendo-grid-column
      field="accountNumber"
      [title]="'columns.accountNumber' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="name"
      [title]="'form.name' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="fixRate"
      title="Fix"
      format="p2"
      filter="numeric"
    ></kendo-grid-column>
    <kendo-grid-column
      field="varRate"
      [title]="'form.variable' | translate"
      format="p2"
      filter="numeric"
    ></kendo-grid-column>
    <kendo-grid-column
      field="usedForPersPlanning"
      [title]="'columns.usedForPersPlanningShort' | translate"
      filter="boolean"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <div style="text-align: center">
          <input
            type="checkbox"
            disabled
            [checked]="dataItem.usedForPersPlanning"
          />
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="year"
      [title]="'columns.year' | translate"
      filter="numeric"
      format="d"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="costGroup.name"
      [title]="'form.costGroup' | translate"
    ></kendo-grid-column>
    <kendo-grid-column
      field="company.name"
      [title]="'columns.company' | translate"
    ></kendo-grid-column>
    <kendo-grid-command-column [width]="70">
      <ng-template kendoGridCellTemplate let-dataItem>
        <kendo-icon
          class="command-icon"
          themeColor="primary"
          name="edit"
          (click)="editHandler({ dataItem: dataItem })"
        ></kendo-icon>
        <kendo-icon
          class="command-icon"
          themeColor="secondary"
          name="delete"
          (click)="removeHandler({ dataItem: dataItem })"
        ></kendo-icon>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>
<ce-costaccount
  [model]="editDataItem"
  [isNew]="isNew"
  (save)="saveHandler($event)"
  (cancel)="cancelHandler()"
></ce-costaccount>
<copy-entity
  [model]="copyCostAccount"
  (save)="saveHandlerCopyCostAccount($event)"
  (cancel)="cancelHandlerCopyCostAccount()"
></copy-entity>
<div
  class="x-dialog-container"
  confirmdialog-style
  [isMsgDialog]="isMsgDialog"
  [dialogType]="dialogType"
>
  <div kendoDialogContainer></div>
</div>
<loading-overlay
  [visible]="loadingOverlayVisible | async"
  loadingText=""
></loading-overlay>
