<form [formGroup]="changePwdForm" (ngSubmit)="submitForm()">
  <kendo-formfield>
    <kendo-textbox
      [placeholder]="'user.changePwdForm.actualPwd' | translate"
      #tbxActualPassword
      formControlName="oldPassword"
    >
      <ng-template kendoTextBoxPrefixTemplate>
        <div class="x-input-prefix">
          <kendo-icon name="lock"></kendo-icon>
        </div>
      </ng-template>
      <ng-template kendoTextBoxSuffixTemplate *ngIf="tbxActualPassword.value">
        <span class="k-icon k-i-eye eye-icon" (click)="togglePassAct()"></span>
      </ng-template>
    </kendo-textbox>
    <kendo-formerror
      *ngIf="changePwdForm.controls.oldPassword.errors?.required"
      translate
      >form.required</kendo-formerror
    >
  </kendo-formfield>
  <kendo-formfield>
    <kendo-textbox
      [placeholder]="'user.password' | translate"
      #tbxPassword
      formControlName="newPassword"
    >
      <ng-template kendoTextBoxPrefixTemplate>
        <div class="x-input-prefix">
          <kendo-icon name="lock"></kendo-icon>
        </div>
      </ng-template>
      <ng-template kendoTextBoxSuffixTemplate>
        <span
          class="k-icon k-i-eye eye-icon"
          (click)="togglePass()"
          *ngIf="tbxPassword.value"
        ></span>
        <div kendoTooltip>
          <kendo-icon
            class="info-icon"
            name="info"
            [title]="'user.changePwdForm.pwdInfo' | translate"
          ></kendo-icon>
        </div>
      </ng-template>
    </kendo-textbox>
    <kendo-formerror
      *ngIf="changePwdForm.controls.newPassword.errors?.required"
      translate
      >form.required</kendo-formerror
    >
    <kendo-formerror
      *ngIf="changePwdForm.controls.newPassword.errors?.pattern"
      translate
      >user.changePwdForm.pwdStrength</kendo-formerror
    >
  </kendo-formfield>
  <kendo-formfield>
    <kendo-textbox
      [placeholder]="'user.changePwdForm.repeatPwd' | translate"
      #tbxRepeatPassword
      formControlName="confirmPassword"
    >
      <ng-template kendoTextBoxPrefixTemplate>
        <div class="x-input-prefix">
          <kendo-icon name="lock"></kendo-icon>
        </div>
      </ng-template>
      <ng-template kendoTextBoxSuffixTemplate *ngIf="tbxRepeatPassword.value">
        <span class="k-icon k-i-eye eye-icon" (click)="togglePassRep()"></span>
      </ng-template>
    </kendo-textbox>
    <kendo-formerror
      *ngIf="changePwdForm.controls.confirmPassword.errors?.required"
      translate
      >form.required</kendo-formerror
    >
  </kendo-formfield>
  <kendo-formerror
    [ngClass]="fromProfile ? 'pwd-match-error-userprofile' : 'pwd-match-error'"
    *ngIf="changePwdForm.errors?.notMatching"
    translate
    >user.changePwdForm.pwdNotMatching</kendo-formerror
  >
  <button type="submit" hidden (click)="hiddenSubmit()"></button>
</form>
