<div class="card">
  <kendo-card width="320px">
    <loading-overlay
      [visible]="loadingOverlayVisible"
      loadingText=""
    ></loading-overlay>
    <h2>Jelszó visszaállítása</h2>
    <span class="forgotpwd-descr"
      >Add meg az e-mail címedet, amivel regisztráltál, és küldeni fogunk egy
      linket, amivel új jelszót tudsz beállítani.
    </span>
    <form [formGroup]="forgotPwdForm" (ngSubmit)="submitForm()">
      <kendo-formfield>
        <kendo-textbox placeholder="E-mail cím" formControlName="email">
          <ng-template kendoTextBoxPrefixTemplate>
            <div class="x-input-prefix">
              <kendo-icon name="user"></kendo-icon>
            </div>
          </ng-template>
        </kendo-textbox>
        <kendo-formerror *ngIf="forgotPwdForm.controls.email.errors?.required"
          >Kötelező mező</kendo-formerror
        >
        <kendo-formerror *ngIf="forgotPwdForm.controls.email.errors?.email"
          >Hibás e-mail formátum</kendo-formerror
        >
      </kendo-formfield>
      <button
        class="btn"
        type="submit"
        kendoButton
        class="btn x-btn-primary click-primary"
      >
        JELSZÓ VISSZAÁLLÍTÁSA
      </button>
      <div class="link">
        <span>Vissza a </span>
        <a href="#" (click)="backToLogin()">bejelentkezéshez</a>
      </div>
    </form>
  </kendo-card>
  <lang-selector></lang-selector>
</div>
